* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: #fcfdfc; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a,
a:active,
a:hover,
a:visited {
  color: #2b2bed;
}

.main {
  z-index: 10;
}

.header__menu {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
  position: fixed;
  top: 0;
  z-index: 200;
  animation: fadeOut 4s ease forwards;
  opacity: 1;
}

.header__menu:hover {
  animation: fadeIn 0.3s ease forwards;
  opacity: 1;
}

.menu {
  /* border: 1px solid red; */
  text-align: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 3rem;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.menu--btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  height: 50px;
}

.puddy--menu {
  height: 40px;
}

.menu--item {
  background-color: #fcfdfc;
  border: 1px solid black;
  margin: 0.5rem;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.menu--item .fas {
  pointer-events: none;
}

.menu--item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.06);
  border: 2px solid rgba(0, 0, 0, 0.09);
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  animation: bounce 1s ease infinite;
  z-index: 30;
}

@keyframes bounce {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 7rem;
  }
  100% {
    font-size: 5rem;
  }
}

.arrow--instruction {
  width: 100px;
  transform: rotate(-55deg) translateY(40px);
}

.instruction--text {
  font-size: 2rem;
  font-family: cursive;
  z-index: 63;
  position: relative;
}
.instruction__container {
  animation: hideInstruction 5s ease forwards;
  position: absolute;
  top: 150px;
  margin-left: 400px;
  transform: rotate(-6deg);
}

@keyframes hideInstruction {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  /* background-color: red; */
}

.pudding {
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
  /* padding: 1rem; */
  background-color: transparent;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: inline-block;
  position: absolute;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/custard-pudding-sweet-dessert-food-emoj-symbol-30649.png");
  background-size: 95%;
  background-repeat: no-repeat;
  /* transition: all 1s ease; */
}

.fullscreen,
.show-player {
  position: absolute;
  right: 50px;
  bottom: 50px;
  border: 1px solid black;
  background-color: #fcfdfc;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-family: arial;
  padding: 0.5rem;
  /* color: #2b2bed; */
}

.show-player {
  left: 50px;
}

.fullscreen:hover {
  cursor: pointer;
}

.add--pudding__container,
.add--face__container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 50;
  pointer-events: none;
}

.add--pudding,
.add--face {
  width: 300px;
  height: auto;
  color: #fff;
  /* font-weight: bold; */
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  pointer-events: initial;
  padding: 1rem;
}

.puddings__container {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.puddings-gif {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close i {
  pointer-events: none;
}

.gif {
  height: 500px;
  width: 500px;
  background-image: url("snoop.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.face {
  height: 70px;
  width: 60px;
  border: 1px solid red;
  position: absolute;
  top: 25px;
  left: 210px;
  animation: faceAnimation 2s linear infinite;
}

@keyframes faceAnimation {
  0% {
    left: 110px;
  }
  /* 10% {
    left: 216px;
  }
  20% {
    left: 220px;
  }
  30% {
    left: 230px;
  } */
  16% {
    left: 150px;
  }
  50% {
    left: 150px;
  }

  70% {
    left: 80px;
  }

  90% {
    left: 110px;
  }
  100% {
    left: 110px;
  }
}

.playlist {
  position: absolute;
  top: 50px;
  /* left: 0; */
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  width: 300px;
  /* border: 1px solid silver; */
  padding: 1rem 0.3rem;
  border-radius: 5px;
}
.playlist--item {
  /* display: block; */
  /* border: 1px solid yellow; */
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  font-family: arial;
  text-align: left;
  font-size: 0.8rem;
  cursor: auto;
}

.player {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 400;
  opacity: 1;
  animation: fadeOut 4s ease forwards;
  /* width: 100%;
  height: 50px; */
}

.player:hover {
  animation: fadeIn 0.1s ease forwards;
}

.show {
  display: flex;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
